<app-season-selector (yearControlChange)="switchSeason($event)"></app-season-selector>

<div class="container card-list">
  <mat-card *ngFor="let team of teams$ | async" class="card">
    <mat-card-title>{{ team.name }} {{flag(team.country)}}</mat-card-title>
    <mat-card-content>
      <div *ngIf="team.wins != null" class="card-stats">
        ALL TIME STATS
        <span>Wins {{ team.wins }}</span>
        <span *ngIf="team.podiums != null">Podiums {{ team.podiums }}</span>
      </div>
      <div *ngIf="team.driverRoster != null" class="card-stats">
        <span>TEAM ROSTER</span>
        <table mat-table [dataSource]="team.driverRoster">
          <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let driver"> {{driver.permanentNumber}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let driver"> {{driver.name}}  {{flag(driver.country)}}</td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="['number', 'name']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['number', 'name'];"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
