@import "/src/variables";

::ng-deep {
  .mat-calendar {
    width: 50%;
    margin: 0 auto;
  }

  @media (max-width: $breakpoint-tablet) {
    .mat-calendar {
      width: 75%;
    }
  }

  @media (max-width: $breakpoint-handset) {
    .mat-calendar {
      width: 100%;
    }
  }

  mat-month-view
    *
    > .mat-calendar-body-cell:not(.mat-calendar-body-disabled)
    > .mat-calendar-body-cell-content {
    background-color: $primary-color !important;
  }
}
