<div *ngIf="bannerInfo | async as info" class="banner">
  <div class="results">
    <div class="podium">
      <h1>
        🥇
        <ng-container
          *ngTemplateOutlet="bannerItem; context: { item: info[0] }"
        ></ng-container>
      </h1>
      <h2>
        🥈
        <ng-container
          *ngTemplateOutlet="bannerItem; context: { item: info[1] }"
        ></ng-container>
      </h2>
      <h2>
        🥉
        <ng-container
          *ngTemplateOutlet="bannerItem; context: { item: info[2] }"
        ></ng-container>
      </h2>

      <ng-content></ng-content>
    </div>
    <div class="full-results-btn">
      <button
        mat-raised-button
        color="primary"
        routerLink="/season/current/round/last"
      >
        Full results
      </button>
    </div>
  </div>
</div>

<ng-template #bannerItem let-item="item">
  {{ item.name }} {{ flag(item.country) }} {{ item.result }}
</ng-template>
