.full-width-table {
  width: 100%;
}

.flag,
.medal {
  font-size: 20px;
}

td.mat-cell,
th.mat-header-cell {
  padding: 0 5px !important;
}

tbody > tr:nth-child(odd) {
  background-color: #373737;
}

.clickable {
  cursor: pointer;
}
