.list-table {
  width: 90%;
  margin: 20px auto;
}

.full-width-table {
  width: 100%;
}

.flag {
  font-size: 20px;
}

td.mat-cell,
th.mat-header-cell {
  padding: 0 5px !important;
}

.clickable {
  cursor: pointer;
}
