@import "~@angular/material/theming";
@include mat-core();

$racepedia-primary: mat-palette($mat-gray);
$racepedia-accent: mat-palette($mat-red, A200, A100, A400);

$racepedia-warn: mat-palette($mat-red);

$racepedia-theme: mat-light-theme(
  (
    color: (
      primary: $racepedia-primary,
      accent: $racepedia-accent,
      warn: $racepedia-warn,
    ),
  )
);

@include angular-material-theme($racepedia-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
